body {
  background-color: #FFFFFA; }

nav {
  background-color: #FFFFFA; }
  nav a {
    color: #000; }

#hero {
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), #93edc7);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  color: #FFFFFA;
  text-shadow: 1px 1px #eb4a4a;
  min-height: calc(100vh - 56px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px; }
  #hero #hero-content {
    height: 100%;
    align-items: center; }
    #hero #hero-content #hero-text {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center; }
      #hero #hero-content #hero-text h1 {
        font-size: 56px;
        font-weight: bolder;
        padding: 2rem 0; }
      #hero #hero-content #hero-text button {
        width: 100%;
        background-color: #eb4a4a;
        color: #FFFFFA;
        border: 1px solid #eb4a4a;
        box-shadow: 1px 1px 3px black;
        font-weight: bolder;
        border-radius: 0; }
      #hero #hero-content #hero-text input {
        border: none;
        box-shadow: 1px 1px 3px black;
        color: darkgray;
        font-weight: thin;
        border-radius: 0;
        background-color: #FFFFFA; }
        #hero #hero-content #hero-text input::placeholder {
          font-weight: thin;
          color: darkgray; }
    #hero #hero-content #hero-image {
      height: 30rem;
      padding: 0;
      overflow: hidden;
      background-image: url("./img/hero2.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
      #hero #hero-content #hero-image #carousel {
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        box-shadow: 5px 5px 20px black; }
        #hero #hero-content #hero-image #carousel img {
          max-width: 100%;
          margin: 0 auto; }

#how-to,
#everything-you-need {
  margin: 4rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }
  #how-to #how-to-content,
  #how-to #everything-you-need-content,
  #everything-you-need #how-to-content,
  #everything-you-need #everything-you-need-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #how-to #how-to-content h1,
    #how-to #everything-you-need-content h1,
    #everything-you-need #how-to-content h1,
    #everything-you-need #everything-you-need-content h1 {
      font-size: 56px;
      font-weight: bolder;
      padding: 2rem 0;
      color: black; }
    #how-to #how-to-content .card,
    #how-to #everything-you-need-content .card,
    #everything-you-need #how-to-content .card,
    #everything-you-need #everything-you-need-content .card {
      margin: 32px 0;
      padding: 2rem 0;
      border: 3px solid #93edc7;
      box-shadow: 1px 2px 8px black;
      color: black;
      border-radius: 0; }
      #how-to #how-to-content .card img,
      #how-to #everything-you-need-content .card img,
      #everything-you-need #how-to-content .card img,
      #everything-you-need #everything-you-need-content .card img {
        margin: 0 auto; }
      #how-to #how-to-content .card p,
      #how-to #everything-you-need-content .card p,
      #everything-you-need #how-to-content .card p,
      #everything-you-need #everything-you-need-content .card p {
        text-align: center; }

#why-use {
  clip-path: polygon(0% 14%, 100% 0, 100% 84%, 0 100%);
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), #93edc7);
  min-height: calc(100vh - 56px);
  height: 100%; }
  #why-use #why-use-content {
    position: relative;
    height: 100vh; }
    #why-use #why-use-content .container {
      height: 100%; }
      #why-use #why-use-content .container .row {
        height: 100%;
        display: flex;
        align-items: center; }
        @media (max-width: 992px) {
          #why-use #why-use-content .container .row #carousel-container {
            display: none;
            visibility: hidden; } }
        #why-use #why-use-content .container .row #carousel2 {
          overflow: hidden;
          width: 80%;
          margin: 0 auto;
          box-shadow: 5px 5px 20px black; }
          #why-use #why-use-content .container .row #carousel2 img {
            max-width: 100%;
            margin: 0 auto; }
        #why-use #why-use-content .container .row h1 {
          font-weight: bolder;
          text-shadow: 1px 1px #eb4a4a;
          text-align: center;
          padding: 2rem 0;
          color: #FFFFFA; }
          @media (max-width: 768px) {
            #why-use #why-use-content .container .row h1 {
              font-size: 2rem; } }
        #why-use #why-use-content .container .row p {
          color: #FFFFFA;
          text-align: center; }
          @media (max-width: 768px) {
            #why-use #why-use-content .container .row p {
              font-size: 1rem; } }

footer {
  padding: 1rem 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), #93edc7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .soc-media {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly; }
    footer .soc-media i {
      color: #FFFFFA;
      font-size: 2rem; }
  footer p {
    font-size: 0.7rem;
    font-weight: thin; }

/*# sourceMappingURL=main.css.map */
