$primary-color: #01a4a4;
$secondary-color: rgb(235, 74, 74);
$white: #fffffa;
$black: #000103;
$primary-font: "Bebas Neue";
$secondary-font: serif;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;

body {
  background-color: $white;
  h1,
  h2 {
    font-family: $primary-font;
    letter-spacing: 0.05em;
  }
}

nav {
  background-color: #fffffa;
  @media (max-width: $breakpoint-large) {
    flex-direction: column;
  }
  a {
    color: #000;
    img {
      height: 1.3rem;
    }
  }
}
.navbar {
  transition: top 0.3s;
}
.scrolled {
  background: transparent;
  a {
    color: transparent;
  } /* IE */
}
#hero {
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), $primary-color);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  @media (max-width: $breakpoint-small) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
  color: $white;
  min-height: calc(100vh - 56px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  #hero-content {
    height: 100%;
    align-items: center;

    #hero-text {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      @media (max-width: $breakpoint-large) {
        text-align: center;
      }
      h1 {
        font-size: 56px;
        font-weight: bolder;
        padding: 2rem 0;
        text-shadow: 1px 1px $secondary-color;
      }
    }
    #hero-image {
      height: 30rem;
      padding: 0;
      overflow: hidden;
      background-image: url("./img/hero2.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      #carousel {
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        box-shadow: 5px 5px 20px black;

        img {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

#how-to,
#everything-you-need {
  margin-top: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  #how-to-content,
  #everything-you-need-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 56px;
      font-weight: bolder;
      padding: 2rem 0;
      color: black;
    }
    .card {
      margin: 32px 0;
      padding: 2rem 0;
      border: 3px solid $primary-color;
      // box-shadow: 1px 2px 8px black;
      color: black;
      border-radius: 0;
      img {
        margin: 0 auto;
      }
      p {
        text-align: center;
      }
    }
  }
}

#why-use {
  padding: 10rem 0;
  -webkit-clip-path: polygon(0% 14%, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0% 14%, 100% 0, 100% 84%, 0 100%);
  @media (max-width: $breakpoint-small) {
    -webkit-clip-path: polygon(0% 5%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0% 5%, 100% 0, 100% 95%, 0 100%);
  }
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), $primary-color);
  min-height: calc(100vh - 56px);
  height: 100%;
  #why-use-content {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .container {
      height: 100%;
      .row {
        height: 100%;
        display: flex;
        align-items: center;
        #carousel2 {
          overflow: hidden;
          width: 80%;
          max-width: 400px;
          margin: 0 auto;
          box-shadow: 5px 5px 20px black;

          img {
            max-width: 100%;
            margin: 0 auto;
          }
        }
        h2 {
          font-weight: bolder;
          text-shadow: 1px 1px $secondary-color;
          text-align: center;
          padding: 2rem 0;
          color: $white;
          margin: 0;
          @media (max-width: $breakpoint-medium) {
            font-size: 2rem;
          }
        }
        p {
          color: $white;
          margin: 0;
          text-align: center;
          @media (max-width: $breakpoint-medium) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

footer {
  padding: 1rem 0;
  margin-top: 2rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), $primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .soc-media {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    .fa-instagram,
    .fa-facebook {
      color: $white;
      font-size: 2rem;
    }
    .fa-instagram {
      &:hover {
        background: -webkit-linear-gradient(#feda75, #d62976);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .fa-facebook {
      &:hover {
        color: #3b5998;
      }
    }
  }
  p {
    font-size: 0.7rem;
    font-weight: thin;
  }
}

#register {
  text-align: center;
  button {
    margin-left: 10px;
    background-color: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    font-weight: bolder;
    border-radius: 0;
    &:hover,
    &:active {
      background-color: $white;
      color: $secondary-color;
    }
  }
}

#thankyou {
  background: linear-gradient(90deg, rgba(28, 216, 210, 0.62), $primary-color);
  display: flex;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  text-align: center;
  h2 {
    color: $white;
    font-size: 56px;
    font-weight: bolder;
    padding: 2rem 0;
    text-shadow: 1px 1px $secondary-color;
  }
  button {
    background-color: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    font-weight: bolder;
    border-radius: 0;
    &:hover,
    &:active {
      background-color: $white;
      color: $secondary-color;
    }
  }
}

form {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  .form-row {
    justify-content: center;
  }
}
.response {
  padding: 0 1rem;
  text-transform: uppercase;
  text-align: center;
  a {
    color: $secondary-color;
    text-transform: uppercase;
  }
}
#mce-error-response {
  color: $secondary-color;
  a {
    color: $secondary-color;
  }
}
#mce-success-response {
  color: $black;
}
button {
  width: 100%;
  background-color: $secondary-color;
  color: $white;
  border: 1px solid $secondary-color;
  font-weight: bolder;
  border-radius: 0;
  &:hover,
  &:active {
    background-color: $white;
    color: $secondary-color;
  }
}
input {
  border: none;
  color: darkgray;
  font-weight: thin;
  border-radius: 0;
  background-color: $white;
  min-width: 300px;
  max-width: 100%;
  &::placeholder {
    font-weight: thin;
    color: darkgray;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.five-times {
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

.call-to-action {
  font-size: 36px;
  a {
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    background-color: #111;
    color: white;
    // border-radius: 5px;
    text-decoration: none;
    font-family: $primary-font;
    letter-spacing: 0.05em;
    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: $primary-color;
    }

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 3px;

    transition: 0.1s all;
    &:active {
      margin-top: 3px;
      margin-bottom: 0px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
